*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding { padding: 2rem 4rem; }

a { text-decoration: none; }

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text { color: #F9F7F7; }

.header
{
    min-height: 20vh;
    background-color: #112D4E;
    text-align: center;
}

.main
{
    min-height: 60vh;
    background-color: #000000;
    gap: 3rem;
    
}

.main .hello
{
    font-size: 2rem;
    text-transform: uppercase;
}

.main span { color: #DBE2EF; }

.main .author { font-size: 2.5rem; }

.main .author .react
{
    color: #3F72AF;
    text-transform: uppercase;
    margin: 0 1rem;
}

.footer
{
    min-height: 20vh;
    background-color: #3F72AF;
    gap: 2rem;
}

.footer a { color: #F9F7F7; }

.footer a:hover { color: #112D4E; }

.footer a { font-size: 2rem; }

/* Responsive Website */
@media (max-width: 1024px)
{
    .padding { padding: 4rem; }

    .main { flex-direction: column; }

    .main .author { text-align: center; }
}

@media (max-width: 481px)
{
    .padding { padding: 4rem 1rem; }

    .main .hello { font-size: 1.5rem; }

    .main .author { font-size: 2rem; }
}