*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding { padding: 2rem 4rem; }

a { text-decoration: none; }

ol { list-style-position: inside; }

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text { color: #F9F7F7; }

.header
{
    min-height: 20vh;
    background-color: #112D4E;
    text-align: center;
}

.main
{
    min-height: 60vh;
    background-color: #F9F7F7;
    /* gap: 3rem; */
}

.exercise-section-01 { margin: 2rem 0 0 0; }

.exercise-section-02 { margin: 0 0 2rem 0; }

.exercise-table
{
    width: 100%;
    border: .20rem solid #112D4E;
    border-collapse: collapse;
}

.exercise-table thead th
{
    background-color: #112D4E;
    font-size: 1.5rem;
    border: .20rem solid #112D4E;
    padding: 1rem;
}

.exercise-table thead th a { color: #F9F7F7; }

.exercise-table tbody td:first-child
{
    color: #112D4E;
    font-weight: 900;
    width: 20%;
    text-align: center;
}

.exercise-table tbody td
{
    border: .20rem solid #112D4E;
    padding: 1rem;
}

.aim h4
{
    color: #112D4E;
    font-style: italic;
}

.media-card, .gate-card
{
    width: 50%;
    border: .20rem solid #3F72AF;
    border-radius: 1rem;
    padding: 1rem;
}

.media-card h2
{
    color: #3F72AF;
    text-align: center;
    margin: 0 0 1rem 0;
}

.media-card p { margin: 0 0 1rem 0; }

.media-card img
{
    width: 100%;
    border-radius: 1rem;
}

.gate-card.open
{
    border-color: darkgreen;
    color: darkgreen;
}

.gate-card.closed
{
    border-color: darkred;
    color: darkred;
}

.gate-card h4 
{
    display: inline;
    color: black;
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
}

.gate-card span { font-size: 1.25rem; }

.planets-section
{
    background-color: #1c1c1c;
    padding: 4rem;
}

.planets-section-title
{
    font-size: 3rem;
    text-align: center;
    margin: 0 0 3rem 0;
}

.planets-section-body
{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    justify-content: center;
}

.planet-card
{
    padding: 2rem;
    border: .20rem solid;
    text-align: center;
    border-radius: .20rem;
}

.planet-card h3
{
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.planet-card h4 { 
    font-size: 1.25rem;
    display: inline;
}

.planet-card img
{
    width: 100%;
    margin: 1rem 0;
}

.planet-card p
{
    font-size: 1.25rem;
    font-style: italic;
}

.footer
{
    min-height: 20vh;
    background-color: #3F72AF;
    gap: 2rem;
}

.footer a { color: #F9F7F7; }

.footer a:hover { color: #112D4E; }

.footer a { font-size: 2rem; }

/* Responsive Website */
@media (max-width: 1200px)
{
    .media-card { width: 80%;}
}

@media (max-width: 1024px)
{
    .padding { padding: 4rem; }

    .planets-section-body { grid-template-columns: repeat(2, 40%); }

}

@media (max-width: 768px)
{
    .media-card { width: 90%;}

    .planets-section-body { grid-template-columns: repeat(1, 70%); }
}

@media (max-width: 481px)
{
    .padding { padding: 4rem 1rem; }

    .planets-section-body { grid-template-columns: repeat(1, 90%); }
}