*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding { padding: 2rem 4rem; }

a { text-decoration: none; }

ol { list-style-position: inside; }

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text { color: #F9F7F7; }

.header
{
    min-height: 20vh;
    background-color: #112D4E;
    text-align: center;
}